body {
    background-image: url('../src/images/nightmirage.webp');
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: black;
    margin: 0;
    padding: 0;
}